name: "Nette Tester"

on:
  pull_request:
  workflow_dispatch:

  push:
    branches: [ "*" ]

  schedule:
    - cron: "0 8 * * 1"

jobs:
  php85:
    name: "Nette Tester"
    uses: contributte/.github/.github/workflows/phpunit.yml@master
    with:
      php: "8.5"

  test83:
    name: "Tester"
    uses: contributte/.github/.github/workflows/phpunit.yml@master
    with:
      php: "8.3"
      make: "init tests"

  test82:
    name: "Tester"
    uses: contributte/.github/.github/workflows/phpunit.yml@master
    with:
      php: "8.2"
      make: "init tests"

  test81:
    name: "Tester"
    uses: contributte/.github/.github/workflows/phpunit.yml@master
    with:
      php: "8.1"
      make: "init tests"

  testlower:
    name: "Tester"
    uses: contributte/.github/.github/workflows/phpunit.yml@master
    with:
      php: "8.1"
      make: "init tests"
      composer: "composer update --no-interaction --no-progress --prefer-dist --prefer-stable --prefer-lowest"
