{block #content}

<div class="flex flex-col">
	<a href="api/_/ping" class="hover:underline text-blue-600">/api/_/ping</a>
	<a href="api/_/apidoc" class="hover:underline text-blue-600">/api/_/apidoc</a>
	<a href="api/v1/product?_apikey=foobar" class="hover:underline text-blue-600">/api/v1/product</a>
	<a href="api/v1/product/1234567?_apikey=foobar" class="hover:underline text-blue-600">/api/v1/product/1234567</a>
</div>
